*~
/.bash_history
/.bundle/cache/
/.cache/
/.config/.gsd-keyboard.settings-ported
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json
/.config/dconf/
/.config/enchant/
/.config/evolution/
/.config/gh/hosts.yml
/.config/gnome-initial-setup-done
/.config/gtk-3.0/bookmarks
/.config/htop/htoprc
/.config/ibus/bus/
/.config/JetBrains/
/.config/menus/applications-merged/
/.config/micro/buffers/
/.config/mimeapps.list
/.config/ModrinthApp/
/.config/monitors.xml
/.config/org.gnome.Ptyxis/session.gvariant
/.config/pulse/cookie
/.config/systemd/user/
/.config/tiling-assistant/tiledSessionRestore2.json
/.config/ubuntu-insights/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.dotnet/corefx/cryptography/crls/
/.gnupg/
/.gradle/
/.home-git/
/.java/
/.local/share/
/.local/state/
/.pam_environment
/.pki/nssdb/
/.python_history
/.ssh/
/.var/
/.vscode/
/.wget-hsts
/Code/
/Games/
/Pictures/
/snap/
